/* ---------------------Base Settings--------------------- */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* font-size: 10px; this is same as below*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* ---------------------Animations--------------------- */
@keyframes moveInFromLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInFromRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

/* ---------------------Typography--------------------- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInFromLeft 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInFromRight 1s;
    animation-timing-function: ease-out; }
  .heading-primary--badge {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.5); }

.heading-secondary {
  display: inline-block;
  font-size: 2.9rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ee2a8, #1e874b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* ---------------------Utility Classes--------------------- */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0px;
  margin-top: -20vh; }

/* ---------------------Buttons--------------------- */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: transform 0.2s;
  font-size: 1.5rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 48px 100px 0px; }

.btn:active {
  transform: translateY(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn-text:link, .btn-text:visited {
  color: #2ecc71;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2ecc71;
  padding: 0.1rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  padding: 0 0.5rem; }

.btn-text:hover {
  background: #2ecc71;
  color: #fff;
  border: none;
  box-shadow: rgba(30, 135, 75, 0.2) 0px 7px 29px 0px;
  transform: translateY(-0.3rem); }

.btn-text:active {
  transform: translateY(-0.1rem); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    z-index: 0;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #2ecc71;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/* ---------------------Header Section--------------------- */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 226, 168, 0.8), rgba(30, 135, 75, 0.8)), url("./../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* ---------------------Grid Layout--------------------- */
.row {
  max-width: 114rem;
  margin: 0px auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( (100% - 2 *6rem) / 3 * 2 + 6rem); }
  .row .col-2-of-4 {
    width: calc((100% - 3 *6rem) / 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 *6rem) / 4) * 3 + 2 *6rem); }
