@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------Media Queries--------------------- */
/*
0-600px -----> Mobile Phone
600-900px -----> Tablet
900-1200px -----> Tablet Landscape
[1200px-1800px] ------> Current Styles
1800+ -----> Big Desktop

- phone
- tab-port
- tab-land
- big-desktop

Order of the querying 
base, typography > general layout + grid page layout > components

*/

// em is inheriting from browser 16px
@mixin respond($break-point) {
  @if $break-point == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $break-point == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $break-point == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $break-point == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
