//color
$color-primary: #2ecc71;
$color-primary-light: #7ee2a8;
$color-primary-dark: #1e874b;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-primary-saddle: rgba(255, 255, 255, 0.5);

//grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//default font-size
$default-font-size: 1.6rem;
