/* ---------------------Buttons--------------------- */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: transform 0.2s;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: rgba($color-black, 0.15) 0px 48px 100px 0px;
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.1rem;
    font-size: $default-font-size;
    transition: all 0.3s;
    padding: 0 0.5rem;
  }

  &:hover {
    background: $color-primary;
    color: $color-white;
    border: none;
    box-shadow: rgba($color-primary-dark, 0.2) 0px 7px 29px 0px;
    transform: translateY(-0.3rem);
  }

  &:active {
    transform: translateY(-0.1rem);
  }
}
