.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba($color-black, 0.8);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absoluteCenter;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.3);
    border-radius: 3px;
    overflow: hidden;
    display: table;

    transform: translate(-50%, -50%) scale(0.5);
    transition: 0.5s;
  }

  &__left {
    width: 33.333333333%;
    display: table-cell;
    @include clearfix;

    @include respond(tab-land) {
      vertical-align: middle;
    }

    @include respond(tab-port) {
      width: 100%;
      display: block;
      margin-bottom: 2rem;
    }
  }

  &__right {
    width: 66.666666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  @include respond(tab-port) {
    &__button {
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      width: 50%;
      display: inline-block;
      float: left;
      height: 20rem;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-grey-light-1;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      display: inline-block;
      position: absolute;
      top: 1rem;
      right: 2rem;
      text-decoration: none;
      font-size: 3rem;
    }
    &:hover,
    &:active {
      color: $color-primary;
    }

    @include respond(phone) {
      color: $color-primary !important;
    }
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }
}
