.story {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  @include clearfix;

  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.5);
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__image {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transform: scale(1.2);
  }
}
