/* ---------------------Base Settings--------------------- */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; this is same as below*/
  font-size: 62.5%; // width > 1200, < 1800 ?

  @include respond(big-desktop) {
    //width > 1800 ?
    font-size: 90%;
  }

  @include respond(tab-land) {
    //width < 1200 ?
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //width < 900 ?
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
